<html>
<head>
</head>
<body>

<button id="match">Calc</button>

   <div id="team"></div>
   <div id="run"></div>
   <div id="wickets"></div>
   <div id="overs"></div>
     <div id="time"></div>


<pre id="info"></pre>
<div id="description"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/cric.js?r={{reload}}"></script>

</body>
<script >setInterval(function () {document.getElementById("match").click();}, 15000);</script>
</html>